* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Basic Navbar Styling */
.navbar {
    display: flex;
    background-color: #faf7f7;
    padding: 10px 0;
}

.home {
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.navbar h1 {
    font-size: 32px;
    height: 10px;
    margin-left: 70px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.nav-list li {
    position: relative;
    margin: 0 15px;
}

.nav-list a span {
    margin-left: 20px;
    font-size: 18px;
}

.nav-list a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 5px;
    display: block;
    transition: 0.3s;
    border-radius: 10px;
}

.nav-list a:hover {
    border-top: 2px solid rgb(173, 144, 91);
    border-bottom: 5px solid orange;
}

/* Dropdown Menu */
.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: rgb(180, 171, 171);
    min-width: 150px;
    border-radius: 10px;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu a {
    padding: 10px;
    color: black;
    display: block;
    font-size: 16px;
    background-color: #fff;
    margin: 3px;
}

.dropdown-menu a:hover {
    border-bottom: 5px solid black;
}

/* Show Dropdown on Hover */
.dropdown:hover .dropdown-menu {
    display: block;
}
.nav-icons {
    line-height: 60px;
    margin-right: 40px;
} 
.nav-icons a {
    margin-left: 30px;
}
.nav-icons a i {
    font-size: 25px;
    color: rgb(75, 70, 70);
}
.nav-icons a i:hover {
    color: black;
}

/* login */
.login {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 30%;
    height: 300px;
    border-radius: 8px;
    margin: 10% auto;
}
.register {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    width: 50%;
    height: 500px;
    border-radius: 8px;
    margin: 1% auto;
}
.login h2, .register h2 {
    background-color: #f0ecec;
    padding: 10px;
    text-align: center;
    font-size: 32px;
    border-bottom: 1px solid black;
}

.login .form-group , .login-btn, .register .form-group {
    margin:10px 0 5px 30px;
}

.login .form-group input, .register .form-group input{
    width: 93%;
    padding-left: 10px;
    outline: none;
    padding: 8px;
    border-radius: 10px;
}

.login-btn {
    margin-top: 30px;
}

.login-btn input {
    background-color: #0f22ec;
    width: 30%;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 6px;
    color: #fff;
}
.login-btn input:hover {
    background-color: #1c269a;
}
.login-btn a {
    color: rgb(72, 69, 156);
}
.login-btn span a {
    background-color: #edeef3;
    width: 30%;
    padding: 7px;
    border-radius: 10px;
    margin-bottom: 6px;
    margin-left: 6px;
    color: #0a0909;
}
.login-btn span a:hover {
    background-color: #d7cece;
}
.login-btn p {
    font-size: 12px;
}

.home-text {
    width: 50%;
    margin-left: 50%;
    padding-top: 200px;
}
.home-text h1 {
    text-align: center;
    color: rgb(234, 31, 31);
    letter-spacing: 2px;
    padding: 10%;
}
.home-text p {
    color: blue;
    text-align: center;
}

.home-text a {
    line-height: 160px;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin-left: 250px;
    background-color: #fff;
    color: black;
    border-radius: 7px;
}



/* featured collection css */
.feature {
    margin: 40px 0px 50px 0px;
}

.feature h2 {
    font-size: 32px;
    text-align: center;
}

.feature p {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 15px;
    justify-content: center;
    /* padding: 10px; */
    flex-wrap: wrap;
    margin-top: 30px;
}

.cart-item {
    width: 200px;
    padding: 5px;
    background: #dad7d7;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 7px;
    transition: 0.6s;
}

.cart-item:hover {
    transform: translateY(-4%);
}

.cart-item img {
    width: 90%;
    color: white;
}

.cart-item h3,
.cart-item h4,
.cart-item h5,
.cart-item h6 {
    padding-top: 8px;
}

.cart-item h5 {
    color: orange;
}

.heart-icon {
    width: 50%;
    margin: 3% auto;
    border-radius: 5px;
    display: none;
}

.heart-icon #heart,
.heart-icon #like {
    display: none;
}

.heart-icon i {
    margin: 0px 8px 0 8px;
    color: white;
}

.cart-item:hover .heart-icon {
    display: block;
}

.cart-item:hover h4 {
    display: none;
}

.heart-icon i:hover {
    cursor: pointer;
    color: #1b9bff;
}

.heart-icon i:active {
    color: #c05474;
}

.btn {
    background-color: #2c3e50;
    color: white;
    border-radius: 8px;
    padding: 5px;
}

/* Special Offers */
.special {
    background-color: #f0f3f5;
}

.special .special-offers {
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
    cursor: pointer;
}

.special-offers h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.special-offers p {
    margin-bottom: 20px;
    font-size: 18px;
}

.special-offers h4 {
    font-size: 30px;
    color: red;
}

.special-offers table {
    margin: 15px auto;
}

.special-offers table tr td {
    padding: 10px;
    font-size: 17px;
}

.special-offers button {
    padding: 9px;
    border-radius: 10px;
}

.special-offers button a {
    color: black;
}

.special-offers button:hover {
    background-color: #dad7d7;
}

/* popular collections */
.popular-collections {
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px 0;
}

.popular-collections p {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}

.popular-nav span {
    margin-left: 32%;
}

.popular-nav span a {
    line-height: 80px;
    padding: 10px;
    font-size: 15px;
    color: rgb(37, 33, 33);
    border-radius: 5px;
    transition: 0.7s;
}

.popular-nav span a:hover {
    color: #d63565;
    border-bottom: 3px solid black;

}

.popular-nav span a:visited {
    color: #1627e3;

}

.cart-containers {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 15px;
    justify-content: center;
    /* padding: 10px; */
    flex-wrap: wrap;
    margin-top: 30px;
}

.cart-items {
    width: 200px;
    padding: 5px;
    background: #dad7d7;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
    transition: 0.6s;
}

.cart-items img {
    width: 90%;
    color: white;
}

.cart-title,
.cart-price,
.add-cart,
.card-icon,
.cart-btn {
    margin-top: 10px;
}

.cart-items .card-icon {
    color: olive;
}

.cart-items .add-cart {
    font-size: 20px;
    display: none;
    transition: all .8s;
}

.cart-items:hover .add-cart {
    display: block;
}

.cart-items:hover {
    transform: translateX(5%);
}

#acart {
    display: none;
}

/* <!-- Latest blog --> */
.blog {
    padding: 50px 0;
    background-color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
}

.blog h2 {
    font-size: 32px;
    text-align: center;
}

.blog p {
    font-size: 18px;
    text-align: center;
    line-height: 23px;
    padding: 20px 0;
}

.blog-cart {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px;
    padding: 0 80px;
}

.blog-item {
    /* margin:5% 0 0 20%; */
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
}

.blog-item img {
    /* padding: 7px 0; */
    text-align: center;
    color: #fff;
}

.blog-item h3 {
    text-align: center;
    font-size: 18px;
    padding: 18px;
}

.blog-item hr {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    height: 1%;
    background-color: black;
}

.blog-item span {
    padding: 80px;
    font-size: 14px;
    color: #9e9595;
}

.blog-item p {
    font-size: 15px;
}

.blog-item a {
    border: 1px solid black;
    border-radius: 9px;
    padding: 2%;
    margin-left: 35%;
    color: black;
    background-color: #dad7d7;
}

.blog-item a:hover {
    background-color: #acaaaa;
}

.bottom-bar {
    width: 40%;
    height: 10px;
    background-color: #000;
    margin-top: 30px;
    margin-left: 30%;
    border-radius: 10px;
}

/* Contact Us */
.contact-us h2 {
    font-size: 32px;
    text-align: center;
    margin: 30px 0;
}
.map {
    margin: 0 70px 50px 70px;
}
.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info {
    display: flex;
    padding: 20px 0;
}
.contact-info {
    margin: 0 70px;
}
.contact-icon {
    position: relative;
    background-color: #cda45e;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    background-color: #1a1814;
    border-radius: 5px;
    color: white;
}

/* Footer */
.footer {
    background-color: #dce1e4;
}

.footers {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 120px;
    padding: 70px 70px 10px 70px;
}

.footer-item i {
    font-size: 20px;
    color: rgb(110, 105, 93);
}

.footer-item p {
    font-size: 16px;
}

.footer-item a i {
    padding: 10px;
    color: rgb(132, 116, 83);
}

.footer-link h2 {
    margin-bottom: 15px;
}

.footer-link a {
    line-height: 25px;
    font-size: 16px;
    color: black;
    padding: 5px;
}

.footer-link a:hover {
    color: #d63565;
}

.footer-item h2 {
    margin-bottom: 2%;
}

.last-footer {
    background-color: #2f2a2a;
    padding: 10px;
}

.last-footer p {
    text-align: center;
    font-size: 18px;
    color: #dad7d7;
}

.last-footer span {
    font-weight: bold;
}

/* About */
.about {
    margin: 40px 70px;
}

.about h2 {
    font-size: 32px;
    text-align: center;
    padding-bottom: 40px;
}

.about-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.about-card img {
    color: white;
    border-radius: 30% 0;
}

.about-card h3, .about-text h3 {
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
}
.about-card p, .about-text p {
    z-index: 0;
    text-align: justify;
    padding: 0 10px;
}

.abouts {
    background-color: #fdfcfc;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    align-items: center;
    padding: 50px 0;
}